rules/rules.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="rules">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="rule" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="condition" type="xs:string" />
              <xs:element name="consequence" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="type" type="xs:string" />
                    <xs:element name="duration" type="xs:string" minOccurs="0" />
                    <xs:element name="message" type="xs:string" minOccurs="0" />
                    <xs:element name="repeat_count" type="xs:integer" minOccurs="0" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="note" type="xs:string" minOccurs="0" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
            <xs:attribute name="severity" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
